---
import { getEntry } from "astro:content"
import CertificationsItem from "./CertificationsItem.astro"
import type { Certification } from "../config/config";

const { data: certifications } = await getEntry('certifications', 'certification-data');
---

<ul class="relative lg:ms-7 flex flex-col gap-10">                  
    <li>  
        {certifications.map((certification: Certification) => <CertificationsItem certification={certification}/>)}
    </li>
</ul>



