---
type Props = {
    show?: boolean;
}
const { show } = Astro.props
---

<nav class="offcanvas hidden uppercase w-full justify-around items-center p-4 bg-white font-semibold">
    <a href="#sobremi">Sobre Mi</a>
    <a href="#estudios">Estudios</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#tips">Tips</a>
</nav>