---
import { getEntry } from "astro:content"
import ProjectsItem from "./ProjectsItem.astro"
import type { Project } from "../config/config";

const { data: projects } = await getEntry('projects', 'project-data');
---

<ul class="relative lg:ms-7 flex flex-col gap-10">                  
    <li>  
        {projects.map((project: Project) => <ProjectsItem project={project} />)}
    </li>
</ul>
