---
import SkillsLogo from "./SkillsLogo.astro"
import SQLAlchemyIcon from "./icons/SQLAlchemyIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import BoostrapIcon from "./icons/BoostrapIcon.astro"
import CSSIcon from "./icons/CSSIcon.astro"
import HTMLIcon from "./icons/HTMLIcon.astro"
import JavascriptIcon from "./icons/JavascriptIcon.astro"
import PythonIcon from "./icons/PythonIcon.astro"
import ReactIcon from "./icons/ReactIcon.astro"
import TailwindIcon from "./icons/TailwindIcon.astro"
import TypescriptIcon from "./icons/TypescriptIcon.astro"
import GitIcon from "./icons/GitIcon.astro";
import GithubIcon from "./icons/GithubIcon.astro";
import VisualStudioIcon from "./icons/VisualStudioIcon.astro";
import FlaskIcon from "./icons/FlaskIcon.astro";
---
<h3 class="mb-2 text-xl lg:ms-7 text-orange-400">Tecnológicas:</h3>
<section class="flex gap-4 lg:ms-6 flex-wrap">
    <div class="flex gap-4 lg:ms-1 flex-row items-center">
        <h4 class="text-orange-200">Desarrollo Backend:</h4>
        <SkillsLogo logoName="Python">
            <PythonIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Flask">
            <FlaskIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="SQL Alchemy">
            <SQLAlchemyIcon size="50"/>
        </SkillsLogo>
    </div>
    <div class="flex gap-4 lg:ms-1 flex-wrap items-center">
        <h4 class="text-orange-200">Desarrollo Frontend:</h4>
        <SkillsLogo logoName="Javascript">
            <JavascriptIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Typescript">
            <TypescriptIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Astro">
            <AstroIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo  logoName="HTML">
            <HTMLIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="React">
            <ReactIcon size="50"/>
        </SkillsLogo>
    </div>
    <div class="flex gap-4 lg:ms-1 flex-wrap items-center">
        <h4 class="text-orange-200">Estilos:</h4>
        <SkillsLogo logoName="CSS">
            <CSSIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Tailwind">
            <TailwindIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Bootstrap">
            <BoostrapIcon size="50"/>
        </SkillsLogo>
    </div>
    <div class="flex gap-4 lg:ms-1 flex-row items-center">
        <h4 class="text-orange-200">Herramientas:</h4>
        <SkillsLogo logoName="Git">
            <GitIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="Github">
            <GithubIcon size="50"/>
        </SkillsLogo>
        <SkillsLogo logoName="VS Code">
            <VisualStudioIcon size="50"/>
        </SkillsLogo>
    </div>
</section>