<h3 class="mt-6 text-xl lg:ms-7 text-orange-400">Personales:</h3>
<p class="text-white lg:ms-7">Gracias a más de 8 años de experiencia en 
    <span class="text-yellow-200 text-lg">atención al cliente</span>, he desarrollado una serie de habilidades personales que complementan mi conocimiento técnico. Soy un profesional 
    <span class="text-yellow-200 text-lg">versátil</span>, 
    <span class="text-yellow-200 text-lg">comprometido</span> con mi trabajo y orientado a 
    <span class="text-yellow-200 text-lg">resultados</span>. Mis competencias incluyen una 
    <span class="text-yellow-200 text-lg">excelente capacidad de comunicación</span>, tanto con clientes como con equipos de trabajo, lo que me permite 
    <span class="text-yellow-200 text-lg">entender y resolver problemas de manera eficiente</span>. Además, poseo una 
    <span class="text-yellow-200 text-lg">fuerte ética de trabajo</span> y soy extremadamente organizado, lo que me ayuda a gestionar múltiples proyectos simultáneamente. También tengo 
    <span class="text-yellow-200 text-lg">habilidades de liderazgo</span> y soy capaz de 
    <span class="text-yellow-200 text-lg">motivar y guiar</span> a los demás para alcanzar objetivos comunes. Mi 
    <span class="text-yellow-200 text-lg">adaptabilidad</span> me permite 
    <span class="text-yellow-200 text-lg">aprender rápidamente nuevas tecnologías y metodologías</span>, asegurando que siempre esté al día con las últimas tendencias y mejores prácticas del sector.
</p>