---

type Props = {
    logoName?: string,
    classes?: string
}

const { logoName, classes } = Astro.props
---

<article class="perspective-800 size-20 group relative" >
    <div class={`${classes} backface-hidden flex items-center justify-center absolute text-center h-full w-full transform transition duration-[1.5s] -rotate-y-180 group-hover:rotate-y-0 rounded-lg shadow-lg`}>        
        <span class="text-white">{logoName}</span>
    </div>
    <div class="backface-hidden flex items-center justify-center h-full w-full text-center absolute transform transition duration-[1.5s] group-hover:rotate-y-180 rounded-lg shadow-lg">
        <slot/>
    </div>    
</article>

