---
import SkillsTech from "./SkillsTech.astro"
import SkillsPersonal from "./SkillsPersonal.astro"
---

<h2 class="mx-auto mb-3 relative items-center lg:ms-7 text-3xl font-bold text-orange-500 flex gap-2"><i class="fa-solid fa-gears fa-xs lg:absolute lg:top-4 lg:-left-14 text-center text-orange-500"></i>Skills</h2>
<SkillsTech/>
<SkillsPersonal/>
