---
import SkillsTech from "./SkillsTech.astro"
---

<h2 class="mx-auto mb-6 relative items-center lg:ms-7 text-3xl font-bold text-orange-500 flex gap-2"><i class="fa-solid fa-gears fa-xs lg:absolute lg:top-4 lg:-left-14 text-center text-orange-500"></i>Skills</h2>
<SkillsTech/>
<h3 class="my-4 text-xl lg:ms-7 text-orange-400">Personales:</h3>

