---
import Menu from "./Menu.astro"
---

<nav id="sticky-navbar" class="bg-blue-900 border-2 fixed border-white hidden z-50 shadow-[0_0px_50px_5px] shadow-white/20 text-white px-3 py-6 rounded-l-lg flex-col gap-6 items-center">
    <Menu navType="sticky"/>
</nav>

<script>
    let lastScrollY = 0;
    window.addEventListener('scroll', () => {
        const stickyNavbar = document.getElementById('sticky-navbar');
        const scrollY = window.scrollY;
        const width = window.innerWidth;

        if (width >  767.9)
            if (scrollY > 100) {
                stickyNavbar.classList.remove('hidden');
                stickyNavbar.classList.add('active');
                stickyNavbar.classList.remove('inactive');
            } else {
                stickyNavbar.classList.remove('active');
                stickyNavbar.classList.add('inactive');
            }
        else {
            if (scrollY < lastScrollY) {
                stickyNavbar.classList.remove('hidden');
                stickyNavbar.classList.add('active');
                stickyNavbar.classList.remove('inactive');
            }  else {
                stickyNavbar.classList.remove('active');
                stickyNavbar.classList.add('inactive');
            }
        }
        lastScrollY = scrollY;
    });
</script>

<style>
    #sticky-navbar.active {
        animation: sticky-appear 0.3s ease forwards;
    }

    #sticky-navbar.inactive {
        animation: sticky-disappear 0.3s ease forwards;
    }

    .hidden {
        display: none;
    }

    @keyframes sticky-appear {
        from {
            position: fixed;
            top: 0;
            right: 0;
            opacity: 0;
            display: flex;
        }
        to {
            position: fixed;
            top: 30%;
            right: 0;
            opacity: 1;
            display: flex;
        }
    }

    @keyframes sticky-disappear {
        from {
            position: fixed;
            top: 30%;
            right: 0;
            opacity: 1;
            display: flex;
        }
        to {
            position: fixed;
            top: 0;
            right: 0;
            opacity: 0;
            display: flex;
        }
    }

    @media (max-width: 767.9px) {
        #sticky-navbar {
            position: fixed;
            padding-inline: 1.5rem;
            padding-block: 0.8rem;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            z-index: 50; 
            display: flex; 
            flex-direction: row;
            gap: 1rem;
            width: fit-content;
            
        }

        #sticky-navbar.active {
            animation: sticky-appear 0.3s ease forwards;
        }

        #sticky-navbar.inactive {
            animation: sticky-disappear 0.3s ease forwards;
        }

        @keyframes sticky-appear {
            from {
                position: fixed;
                top: 0;
                left: 50%;
                opacity: 0;
            }
            
            to {
                position: fixed;
                top: 5%;
                right: 25%;
                opacity: 1;
            }
        }

        @keyframes sticky-disappear {
        from {
            position: fixed;
            top: 5%;
            right: 25%;
            opacity: 1;
        }

        to {
            position: fixed;
            top: 0;
            right: 25%;
            opacity: 0;
            }
        }

    }   
</style>