---
import ReactIcon from './icons/ReactIcon.astro';
import TypescriptIcon from './icons/TypescriptIcon.astro';
import JavascriptIcon from './icons/JavascriptIcon.astro';
import AstroIcon from './icons/AstroIcon.astro';
import BoostrapIcon from './icons/BoostrapIcon.astro';
import CSSIcon from './icons/CSSIcon.astro';
import FlaskIcon from './icons/FlaskIcon.astro';
import HTMLIcon from './icons/HTMLIcon.astro';
import SQLAlchemyIcon from './icons/SQLAlchemyIcon.astro';
import TailwindIcon from './icons/TailwindIcon.astro';
import MapsIcon from './icons/MapsIcon.astro';
import CloudinaryIcon from './icons/CloudinaryIcon.astro';
import PythonIcon from './icons/PythonIcon.astro';
import ReactRouterIcon from './icons/ReactRouterIcon.astro';
import NodeJSIcon from './icons/NodeJSIcon.astro';
import ExpressIcon from './icons/ExpressIcon.astro';
import FirebaseIcon from './icons/FirebaseIcon.astro';
import ReactBootstrapIcon from './icons/ReactBootstrapIcon.astro';
import JWTIcon from './icons/JWTIcon.astro';
import StripeIcon from './icons/StripeIcon.astro';
import PostgresSQLIcon from './icons/PostgresSQLIcon.astro';
import { iconStyles } from '../styles/styles';
import GithubIcon from './icons/GithubIcon.astro';

type Props = {
    name?: string,
    icon?: string,
};

const { name, icon } = Astro.props;

let TechIconComponent: any;
let classes: string;

switch (icon) {
    case 'ReactIcon':
        TechIconComponent = ReactIcon;
        classes = iconStyles.ReactIcon
        break;
    case 'TypescriptIcon':
        TechIconComponent = TypescriptIcon;
        classes = iconStyles.TypescriptIcon
        break;
    case 'JavascriptIcon':
        TechIconComponent = JavascriptIcon;
        classes = iconStyles.JavascriptIcon
        break;
    case 'AstroIcon':
        TechIconComponent = AstroIcon;
        classes = iconStyles.AstroIcon
        break;
    case 'BoostrapIcon':
        TechIconComponent = BoostrapIcon;
        classes = iconStyles.BoostrapIcon
        break;
    case 'CSSIcon':
        TechIconComponent = CSSIcon;
        classes = iconStyles.CSSIcon
        break;
    case 'FlaskIcon':
        TechIconComponent = FlaskIcon;
        classes = iconStyles.FlaskIcon
        break;
    case 'HTMLIcon':
        TechIconComponent = HTMLIcon;
        classes = iconStyles.HTMLIcon
        break;
    case 'SQLAlchemyIcon':
        TechIconComponent = SQLAlchemyIcon;
        classes = iconStyles.SQLAlchemyIcon
        break;
    case 'TailwindIcon':
        TechIconComponent = TailwindIcon;
        classes = iconStyles.TailwindIcon
        break;
    case 'MapsIcon':
        TechIconComponent = MapsIcon;
        classes = iconStyles.MapsIcon
        break;
    case 'CloudinaryIcon':
        TechIconComponent = CloudinaryIcon;
        classes = iconStyles.CloudinaryIcon
        break;
    case 'PythonIcon':
        TechIconComponent = PythonIcon;
        classes = iconStyles.PythonIcon
        break;
    case 'ReactRouterIcon':
        TechIconComponent = ReactRouterIcon;
        classes = iconStyles.ReactRouterIcon
        break;
    case 'NodeJSIcon':
        TechIconComponent = NodeJSIcon;
        classes = iconStyles.NodeJSIcon
        break;
    case 'ExpressIcon':
        TechIconComponent = ExpressIcon;
        classes = iconStyles.ExpressIcon
        break;
    case 'FirebaseIcon':
        TechIconComponent = FirebaseIcon;
        classes = iconStyles.FirebaseIcon
        break;
    case 'ReactBootstrapIcon':
        TechIconComponent = ReactBootstrapIcon;
        classes = iconStyles.ReactBootstrapIcon
        break;
    case 'JWTIcon':
        TechIconComponent = JWTIcon;
        classes = iconStyles.JWTIcon
        break;
    case 'StripeIcon':
        TechIconComponent = StripeIcon;
        classes = iconStyles.StripeIcon
        break;
    case 'PostgresSQLIcon':
        TechIconComponent = PostgresSQLIcon;
        classes = iconStyles.PostgresSQLIcon
        break;
    case 'GithubIcon':
        TechIconComponent = GithubIcon;
        classes = iconStyles.GithubIcon
        break;
    default:
        TechIconComponent = null;
        classes = iconStyles.default
}
---

<span class={`flex flex-row border shadow-md items-center justify-center gap-2 ${classes} px-3 py-1 rounded-full`}>
    {TechIconComponent && <TechIconComponent size={25}/>}
    <p class="text-sm text-center">{name}</p>
</span>

