<header id="top-navbar" class="md:flex w-full hidden items-center justify-center py-8 px-5 text-white">
    <nav class="md:flex relative md:justify-center border-2 py-2 px-10 rounded-full text-white md:items-center uppercase md:gap-10 font-bold">
        <a class="z-10 p-2 hover:text-orange-700" href="#sobremi">Sobre Mi</a>
        <a class="z-10 p-2 hover:text-orange-700" href="#skills">Skills</a>
        <a class="z-10 p-2 hover:text-orange-700" href="#certificaciones">Estudios</a>
        <a class="z-10 p-2 hover:text-orange-700" href="#proyectos">Proyectos</a>
    </nav>
</header>